stage1.bin
stage2.bin
kernel.bin
floppy.img
anos_uefi.img
native_tests/fat
native_tests/printhex
**/*.a
**/*.o
**/*.elf
**/*.dis
**/*.img
kernel/tests/build
system/tests/build
servers/pcidrv/tests/build
servers/ahcidrv/tests/build
servers/devman/tests/build
.vscode
native_tests/pt
system/system.bin
**/.DS_Store
**/*.gcda
**/*.gcno
gcov
kernel/arch/x86_64/realmode.bin
servers/**/*.bin
servers/**/*.elf
servers/system.ramfs
uefi/riscv64/edk2/RISCV_VIRT_VARS.fd
.idea
native_tests/elf
qemu.log
*.Po
*.Plo
*.lo
*.la
system/jansson-2.13/src/.libs/*
system/jansson-2.13/config.log
system/jansson-2.13/Makefile
system/jansson-2.13/config.status
system/jansson-2.13/doc/Makefile
system/jansson-2.13/jansson.pc
system/jansson-2.13/jansson_private_config.h
system/jansson-2.13/libtool
system/jansson-2.13/src/Makefile
system/jansson-2.13/src/jansson_config.h
system/jansson-2.13/stamp-h1
system/jansson-2.13/test/Makefile
system/jansson-2.13/test/bin/Makefile
system/jansson-2.13/test/ossfuzz/Makefile
system/jansson-2.13/test/suites/Makefile
system/jansson-2.13/test/suites/api/Makefile
